
body{
    font-size: 14px;
    margin: 3rem 0 !important;
}


.bk-list-img {
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}

.bk-list-img li {
  display: inline-block;
  width: 80px;
  height: 80px;
  border: solid 1px #f2f2f2;
  margin-right: 10px;
  overflow: hidden;
  position: relative;
}

.bk-list-img li .remove{
    position: absolute;
    width: 14px;
    height: 14px;
    background-color: red;
    color: #fff;
    right: 0;
    top: 0;
    z-index: 2;
    font-size: 11px;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    cursor: pointer;
}

.bk-list-img li img {
  width: 150%;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
